.header-container{
  background-color: #80bf5c;
  color:white;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-container > div {
  margin: 10px;
}

.header-hamburger-bun {
  border-radius: 10px;
}

.header-hamburger-container div {
  height: 6px;
  width: 36px;

  margin: 5px;

  background-color: white;
}