.header-container{
  background-color: #80bf5c;
  color:white;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-container a {
  color: white;
  text-decoration: none;
  margin: 10px;
}
.header-container > div {
  margin: 10px;
}

.header-hamburger-bun {
  border-radius: 10px;
}
.header-hamburger-container {
  cursor: pointer;
}
.header-hamburger-container div {
  
  height: 6px;
  width: 36px;

  margin: 5px;

  background-color: white;
}

.sidemenu {
  z-index: 1;
  transition: .5s;
  background-color: #80bf5c;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.sidemenu a {
  color:white;
  text-decoration: none;
}
.sidemenu-top {
  display: flex;
  align-items: center;
}
.sidemenu-hamburger-container {
  margin: 25px;
  cursor: pointer;
}
.sidemenu-hamburger-container div {
  height: 10px;
  width: 64px;

  margin: 10px;

  background-color: white;
}
.hide {
  left: 100vw;
}
.username {
  text-align: center;
  color: white;
}
.listitems {
  margin-top: 100px;
  color: white;
  margin-left: 35px;
  
}
.listitems h3 {
  font-size: 32px;
}