.oldround-container {
  width: 100%;
}
.scorecard-hidden .oldround-scorecard {
  display: none;
}
.oldround-scorecard {
  display:flex;
}
.oldround-quickstats {
  width: 100%;
  background: #80bf5c;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.oldround-quickstats h3, .oldround-container img {
  margin: 10px;
}
.oldround-quickstats img {
  width: 36px;
}
.quickstats-score {
  font-size: 24px;
  padding: 10px;
  background: red;
  color: white;
  border-radius: 24px;
}
.scorecard-box {
  border: 0.5px solid rgb(187, 187, 187);
  padding: 10px;
}