.oldround-container {
  width: 100%;
  height: 64px;
  background: #80bf5c;
}
.scorecard-hidden .oldround-scorecard {
  display: none;
}
.oldround-scorecard {
  display:flex;
}
.scorecard-box {
  padding: 10px;
}