.oldround-container {
  width: 100%;
}
.scorecard-hidden .oldround-scorecard {
  display: none;
}
.oldround-scorecard {
  margin-left: 5vw;
  margin-right: 5vw;
  display:flex;
  flex-wrap: wrap;
}
.oldround-quickstats {
  width: 100%;
  background: #80bf5c;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.oldround-quickstats h3, .oldround-container img {
  margin: 10px;
}
.oldround-quickstats img {
  width: 36px;
}
.quickstats-score {
  font-size: 1.5rem;
  padding: 10px;
  height: 3rem;
  width: 3rem;
  text-align: center;
  background: red;
  color: white;
  border-radius: 24px;
}
.scorecard-box {
  background-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 10vw;
  border-bottom: 1px solid rgb(212, 212, 212);
}
.scorecard-box h6 {
  margin: 0;
}
.resumeround {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  text-decoration: none;
  background-color: #80bf5c;
  padding: 10px;
  border-radius: 10px;
}
.scorecard-holescore {
  width: 9vw;
  height: 9vw;
  margin-bottom: 25px !important;
}
.doublebogey, .bogey, .par, .birdie, .eagle, .none {
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  color: white;
}
.doublebogey {
  background-color: rgb(0, 85, 189);
}
.bogey {
  background-color: rgb(0, 142, 189);
}
.par {
  background-color: white;
}
.par, .eagle {
  color: black;
}
.birdie {
  background-color: rgb(252, 68, 68);
  border-radius: 10vw;
}
.eagle {
  background-color: #fff870;
  border-radius: 10vw;
}
.none {
  background-color: white;
  border: none;
  color: black;
}

.scorekort-titel {
  text-align: center;
}